<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h3>Customer Data</h3>
    <div id="tableData">
    <table id="cData" class="table table-sm">
        <thead>
            <tr [ngClass]="tblHdStyle">
                <th>Id</th>
                <th>Name</th>
                <th>StateCode</th>
                <th>Active</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td *ngIf="c.stateCode == 'OH'">Ohio</td>
                <td *ngIf="c.stateCode == 'IL'">Illinois</td>
                <td *ngIf="c.stateCode != 'OH' && c.stateCode != 'IL'">{{ c.stateCode }}</td>
                <td *ngIf="c.active == true">Yes</td>
                <td *ngIf="c.active == false">No</td>
                <td>{{ c.sales }}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>